<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115161125408-f9h00d5vlufsp9dotmh5dhrpmhm9q1q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115161125408-f9h00d5vlufsp9dotmh5dhrpmhm9q1q2</string>
	<key>API_KEY</key>
	<string>AIzaSyCHcCDq9KSPccdCFXE8eGA6dkmkw5nrIG8</string>
	<key>GCM_SENDER_ID</key>
	<string>115161125408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udharKharcha</string>
	<key>PROJECT_ID</key>
	<string>hajo-9983c</string>
	<key>STORAGE_BUCKET</key>
	<string>hajo-9983c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115161125408:ios:f0ad8b03cbc9e0d86fe245</string>
</dict>
</plist>